/*navbar style*/
.navbar{
    background-color:#192022; 
}

.nav-link{
        color:#f1f1f1; 
        font-size: 1.5rem;
}

.nav-link:focus, .nav-link:hover {
    color:grey;
    text-decoration: none;
}

.fa-1x {
font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
cursor: pointer;
color:#f1f1f1;
}

.navbar-toggler:hover{
    color:grey;
}

.col-md{
    margin-bottom: 40px;
}

/*body style*/
body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	font-family: 'Roboto', sans-serif;
}


/*header style to ensure there are no white lines betweeen header and content*/
header {
	padding: 5px 50px 50px 30px;
}

/*footer style to override bootstrap style*/
footer {

    background-color:#192022;
    color:#f1f1f1;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*container style to override bootstrap style*/
.container-fluid {
	margin-left: 0px 20px 0px 20px!important;
}

/*page title across site*/
.page_title {
	margin-top: 20px;
    color:#192022;
    padding: 20px 20px 20px 20px;
}

/*text on left of pages across site - style*/
.trans {
	padding: 60px 40px;
	background: rgba(110, 140, 151, 0.7);
	border-radius: 10px;
	margin:20px;
    color:#f1f1f1;
}




/*style for forms across the site */
form {
	padding: 40px 40px;
	background: rgba(110, 140, 151, 0.7);
	border-radius: 10px;
    margin: 20px;
    /*ensure space from bottom of the screen*/
}

/*label style on forms across site*/
label {
	font-weight: 700;
    /*make text bolder*/
	color: rgba(255, 255, 255);
	border-radius: 5px;
    width:100%;
}

.btn{
    background-color: #26261D;
    color:rgba(255, 255, 255);
    margin:auto;

}

.input-group {
	margin-bottom: 10px;
	margin-top: 10px;
}

/*style for requests table*/
#request_filter {
	width: 100%;
	/* Full-width */
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	/* Add some padding */
	border: 1px solid #ddd;
	/* Add a grey border */
	border-radius: 10px;
	margin-bottom: 12px;
	/* Add some space below the input */
}

#requeststbl {
	border-collapse: collapse;
	/* Collapse borders */
	width: 100%;
	/* Full-width */
	border: 1px solid #ddd;
	/* Add a grey border */
	border-radius: 10px;
	font-size: 10px;
    background: rgba(110, 140, 151, 0.7);
    color:#f1f1f1;
    overflow-y: hidden;
}

#requeststbl th{
   text-align: left; 
}
#requeststbl td {
	text-align: left;
	/* Left-align text */
	padding: 6px;
	/* Add padding */
    white-space:nowrap;
}

#requeststbl tr {
	/* Add a bottom border to all table rows */
	border-bottom: 1px solid #ddd;
    
}


#requeststbl tr.header,
#requeststbl tr:hover {
	/* Add a grey background color to the table header and on hover */
	background-color: #192022;
}


