body{
    background-image:url('../img/variety_veg.jpg') ;
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column
    
}

main {
    flex: 1 0 auto;
  }

form{background-color: white;
    border-radius: 10px;
}

#request_filter {
  /*background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  /*background-position: 10px 12px; /* Position the search icon */
  /*background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
 
}

#requeststbl {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#requeststbl th, #requeststbl td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#requeststbl tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#requeststbl tr.header, #requeststbl tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}