{% extends 'master.html' %}
{% block content %}
<h3>Neighbrhood Shopping Rota</h3>
<div class="row">
   <form action="{{ url_for('insert_login') }}" method="POST"  class="col s12">
      <div class="container">
         <div class="row">
            <div class="input-field col s6">
               <i class="material-icons prefix">face</i>
                    <select id="member" name="member">
                            <option value="" disabled selected>Please select your name</option>
                            {% for member in memebers %}
                            <option value="{{member.username}}">{{member.username}}</option>
                            {% endfor %}
                            </select>
                            <label>Username</label>
            </div>                
            <div class="input-field col s6"> 
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit your selection
                        <i class="material-icons right">send</i>
                        </button>
            </div>
         </div>
      </div>       
    </form>   
</div>
{% endblock %}