<!DOCTYPE html> {% extends 'master.html' %} {% block content %}

<div class="container">
<h6>Please Use the below form to Submit New Requests</h6>
    <div class="row">
        <form action="/insert_requests" method="POST" class="new-requests col s12 m6 offset-m3" name="siteform" >
            <div class="row">    
                <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>
                    <select id="Requested_By" name="Requested_By">
                        <option value="" disabled selected>Please select your name</option>
                        {% for member in members %}
                        <option value="{{member.username}}">{{member.username}}</option>
                        {% endfor %}
                    </select>
                    <label>Username</label>
                </div>
            </div>    
            <div class="row">    
                <div class="input-field">
                    <i class="material-icons prefix">phone</i>
                    <input id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Telephone</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>
                    <select id="shop" name="shop">
                        <option value="" disabled selected>Please select the shop for your purchases</option>
                        {% for shop in shops %}
                        <option value="{{shop.shop}}">{{shop.shop}}</option>
                        {% endfor %}
                    </select>
                    <label>Shop</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Please enter the food and the amount you would to order</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>
                    <input type="text" class="datepicker">
                    <label for="textarea1">Please pick the date for the order</label>
                </div>
            </div>
            <div class="row">
                <div style="text-align: center;"> 
                    <button class="btn waves-effect orange darken-3" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>    
            </div>
        </form>
    </div>
</div>

{% endblock %}