<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
    <title>Document</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
      <a href="{{url_for('add_new_requests')}}" brand-logo>Covid-19 Shopping Rota</a>
      <a ></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('add_new_requests')}}">Home</a></li>
                    <li><a href="{{url_for('add_new_requests')}}">New Task</a></li> 
                </ul>
    </div>
  </nav>
        
<div class="container">
    <h3 style="color:#6a1b9a">Neighborhood Shopping Requests Rota</h3>
    {% block content %}
    
    {% endblock %}
</div>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script type="text/javascript">
   $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
        object.addEventListener("click", myScript);
});


function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("request_filter");
  filter = input.value.toUpperCase();
  table = document.getElementById("requeststbl");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script> 

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Neighborhood Shopping Rota</h5>
                <p class="grey-text text-lighten-4">Even the weak become strong when they are united</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.who.int/">World Health Organization</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.gov.ie/en/campaigns/c36c85-covid-19-coronavirus/">Government Covid-19</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.worldometers.info/coronavirus/country/ireland/">Worldometer Ireland</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
        
        </footer>
   
</body>
</html>