<!DOCTYPE html>
{% extends 'master.html' %}
{% block content %}
<h3>Neighbrhood Shopping Rota</h3>
<div class="row">
   <form action="{{ url_for('insert_login') }}" method="POST"  class="col s12">
      <div class="container">
         <div class="row">
                    <div class="input-field col s6">
          <input placeholder="Add your name if you want to become a member" id="member" type="text" class="validate" name="member">
          <label for="first_name">Name and Surname</label>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="icon_telephone" type="tel" class="validate">
            <label for="icon_telephone">Telephone</label>
            </div>
        <div class="row"> 
        <div class="col">
        </div>   
            <div class="input-field col s6"> 
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit your selection
                        <i class="material-icons right">send</i>
                        </button>
            </div>
            </div>
         </div>
      </div>       
    </form>   
</div>
{% endblock %}