{% extends 'master.html' %}
{% block content %}

<div class="row">
    <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                    <i class="material-icons prefix">face</i>
                    <input id="Requested_By" name="Requested_By" type="text" class="validate">
                    <label for="first_name">Requested by (Name and Surname)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <i class="material-icons prefix">phone</i>
                    <input id="Requestor_Phone_Number" name ="Requestor_Phone_Number" type="tel" class="validate">
                    <label for="icon_telephone">Telephone</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <i class="material-icons prefix">restaurant</i>
                        <select multiple>
                        <option value="" selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        </select>
                        <label>Food List</label>
                    </div>  
                </div>
                <div class="row">
                    <div class="input-field col s12" id="matfix">
                    <i class="material-icons prefix">assignment</i>
                    <input id="Shopping_Date" name="Shopping_Date" type="text" class="datepicker">
                    <label for="icon_prefix">Shopping By Date</label>
                    </div>
                </div>    
                <div class="row">
                        <div class="row">
                            <div class="input-field col s12" ">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="Additional_Comments" name="Additional_Comments" class="materialize-textarea"></textarea>
                            <label for="textarea1">Additional Comments</label>
                            </div>
                        </div>
                </div>



 
    </form>
</div>
        

 

{% endblock %}