<!DOCTYPE html>
{% extends 'master.html' %}
{% block content %}
<h6>Please Use the below form to Submit New Requests</h6>
<div class="row">
<div class="container">
   <form action="{{ url_for('insert_requests') }}" method="POST"  class="col s12">

         <div class="row">
            <div class="input-field col s6">
               <i class="material-icons prefix">face</i>
                    <select id="Requested_By" name="Requested_By">
                            <option value="" disabled selected>Please select your name</option>
                            {% for member in members %}
                            <option value="{{member.username}}">{{member.username}}</option>
                            {% endfor %}
                            </select>
                            <label>Username</label>
            </div>                
         </div>
                     
	<div class="row">
		<div class="col-xs-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-6">
								<h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
                {%for food in foods%}
					<div class="row">
						<div class="col-xs-4" >
							<h4 class="product-name"><strong>{{food.Food}}</strong></h4> 
                            
						</div>    
						<div class="col-xs-8" >
                           <div class="col-xs-4 text-right" >
                                <div class="col-xs-6 text-right" >
								<input type="text" class="form-control input-sm" value="" id="qty" name={{food._id}}-qty />
                                </div>
                                <div class="col-xs-6 text-right" id="Unit" name="Unit" >
								<h6><strong>{{food.Unit}}</strong></h6>
                                </div>
                            </div>
							<div class="col-xs-4">
                                <label>
                                    <input type="checkbox" class="filled-in" />
                                    <span>Add to cart</span>
                                </label>
							</div>
						</div>
					</div>
                {%endfor%}    
					<hr>

					<hr>
					<div class="row">
						<div class="text-center">
							<div class="col-xs-9">
								<h6 class="text-right">Added items</h6>
							</div>
							<div class="col-xs-3">
								<button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">Add to Cart</i>
                                </button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row text-center">
                            <div class="col-xs-8">
                            </div>
                            <div class="col-xs-4 text-right">
                                    <button type="button" class="btn btn-success btn-block">
                                        Exit
                                    </button>
                            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </form> 
</div>  
</div>



    
{% endblock %}