{% extends 'master.html' %}
{% block content %}
<h4>Filter requests by shopping date</h4>
<input type="text" id="request_filter" onkeyup="myFunction()" placeholder="Search by shopping date..">
<div class="container">
   <div class="row">
      <i class="material-icons prefix">restaurant</i>
      <div class="input-field requeststbl col s12" style="overflow: auto">
         <table class="responsive-table" id="requeststbl">
            <thead>
               <tr>
                  <th>Shop By Date</th>
                  <th>Requested_By</th>
                  <th>Food</th>
                  <th>Food Category</th>
                  <th>Unit</th>
                  <th>Qty</th>
               </tr>
            </thead>
           
            
            {% for request in requests %}
                {% if request.Done == "no" %}
            <tbody>
               <tr>
                  <td value="{{request.Shop_By_Date}}">{{request.Shop_By_Date}}</td>
                  <td value="{{request.Requested_By}}">{{request.Requested_By}}</td>
                  <td value="{{request.Food}}">{{request.Food}}</td>
                  <td value="{{request.Food_Category}}">{{request.Food_Category}}</td>
                  <td value="{{request.Food_Unit}}">{{request.Unit}}</td>
                  <td value="{{request.Qty}}">{{request.Qty}}</td>
               </tr>
               {% endif %} 
               {% endfor %}  
            </tbody>
         </table>
      </div>
   </div>
</div>
<div class="row">
   <div class="col s3">
      <input type="email" id="email" name="email" placeholder="Enter email address">
   </div>
   <div class="col s3">
      <button class="btn waves-effect waves-light" type="submit" name="action">Email list
      <i class="material-icons right">send</i>
      </button>
   </div>
</div>
        
{% endblock %}

